body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/*-------------------------------> HEADER */
header {
    background-color: #203e49;
    color: white;
    padding: 20px 0;
    text-align: center;

    position: fixed; /* Fija el encabezado en la parte superior */
    top: 0; /* Alinea el encabezado al borde superior */
    left: 0; /* Alinea el encabezado al borde izquierdo */
    width: 100%; /* Asegura que el encabezado ocupe todo el ancho de la pantalla */
    z-index: 1000; /* Asegura que el encabezado se muestre por encima de otros elementos */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/*-------------------------------> MAIN CONTENT */
main {
    padding: 20px;
    padding-top: 9%;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2em;
    color: #4CAF50;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    line-height: 1.8;
}

.email .numCell {
    display: flex;
    gap: 20px;
    align-items: center;
}

.email input
.email input {
    flex: 1;
    /* Tomar el espacio disponible */
}

/*-------------------------------> FOOTER*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}