body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/*-------------------------------> HEADER */
header {
    background-color: #203e49;
    color: white;
    text-align: center;

    position: fixed;            /* Fija el encabezado en la parte superior */
    top: 0;                     /* Alinea el encabezado al borde superior */
    left: 0;                    /* Alinea el encabezado al borde izquierdo */
    width: 100%;            
    z-index: 1000;              /* Asegura que el encabezado se muestre por encima de otros elementos */

    display: flex;              /* Usa flexbox para alinear los elementos */
    flex-direction: column;     /* Organiza los elementos en una columna */
    align-items: center;        /* Alinea los elementos horizontalmente en el centro */
    justify-content: center;    /* Alinea los elementos verticalmente en el centro */
    height: 205px;              
}

.profile-photo {
    display: flex;              /* Usa flexbox para alinear elementos */
    align-items: center;        /* Alinea verticalmente en el centro */
    gap: 15px;                  /* Espacio entre la imagen y el texto */
}

.profile-photo img {
    width: 125px;               
    height: 125px;              
    border-radius: 50%;         /* Hacer la imagen circular */
    object-fit: cover;          /* Asegura que la imagen cubra el área sin distorsionarse */
    border: 2px solid #ccc;   /* Borde de la imagen */
    margin: 20px 0 0 0;
}

header h1 {
    margin: 25px 0 0 15px;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    font-size: 1.25rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/*-------------------------------> MAIN CONTENT */
main {
    padding: 20px;
    padding-top: 9%;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2em;
    color: #4CAF50;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    line-height: 1.8;
}

.email .numCell {
    display: flex;
    gap: 20px;
    align-items: center;
}

.email input {
    flex: 1;            /* Tomar el espacio disponible */
}

/*-------------------------------> FOOTER*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}